
<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">

	<!--[html-partial:include:{"file":"partials/_header/topbar/_search.html"}]/-->
<!--	<?php include("partials/_header/topbar/_search.php");?>-->
	<div data-th-replace="partials/_header/topbar/_search"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_notifications.html"}]/-->
<!--	<?php include("partials/_header/topbar/_notifications.php");?>-->
	<div data-th-replace="partials/_header/topbar/_notifications"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_quick-actions.html"}]/-->
<!--	<?php include("partials/_header/topbar/_quick-actions.php");?>-->
	<div data-th-replace="partials/_header/topbar/_quick-actions"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_my-cart.html"}]/-->
<!--	<?php include("partials/_header/topbar/_my-cart.php");?>-->
	<div data-th-replace="partials/_header/topbar/_my-cart"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_quick-panel.html"}]/-->
<!--	<?php include("partials/_header/topbar/_quick-panel.php");?>-->
	<div data-th-replace="partials/_header/topbar/_quick-panel"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_languages.html"}]/-->
<!--	<?php include("partials/_header/topbar/_languages.php");?>-->
	<div data-th-replace="partials/_header/topbar/_languages"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_user.html"}]/-->
<!--	<?php include("partials/_header/topbar/_user.php");?>-->
	<div data-th-replace="partials/_header/topbar/_user"></div>
	
</div>

<!-- end:: Header Topbar -->