
<!--begin: Language bar -->
<div class="kt-header__topbar-item kt-header__topbar-item--langs">
	<div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
		<span class="kt-header__topbar-icon">
			<img class="" src="assets/media/flags/226-united-states.svg" alt="" />
		</span>
	</div>
	<div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">

		<!--[html-partial:include:{"file":"partials/_topbar/dropdown/languages.html"}]/-->
<!--		<?php include("partials/_topbar/dropdown/languages.php");?>-->
		<div data-th-replace="partials/_topbar/dropdown/languages"></div>
		
	</div>
</div>

<!--end: Language bar -->