
<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

	<!--[html-partial:include:{"file":"partials/_header/_menu.html"}]/-->
<!--	<?php include("partials/_header/_menu.php");?>-->
	<div data-th-replace="partials/_header/_menu"></div>

	<!--[html-partial:include:{"file":"partials/_header/topbar/_base.html"}]/-->
<!--	<?php include("partials/_header/topbar/_base.php");?>-->
	<div data-th-replace="partials/_header/topbar/_base"></div>
	
</div>

<!-- end:: Header -->