<div data-th-fragment="layout">
<!--	<h1>monaadsi blamino</h1>-->

<!-- begin:: Page -->

<!--[html-partial:include:{"file":"partials/_header/base-mobile.html"}]/-->
<!--<?php include("partials/_header/base-mobile.php");?>-->
	<div data-th-replace="partials/_header/base-mobile"></div>

<div class="kt-grid kt-grid--hor kt-grid--root">
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

		<!--[html-partial:include:{"file":"partials/_aside/base.html"}]/-->
<!--		<?php include("partials/_aside/base.php");?>-->
		<div data-th-replace="partials/_aside/base"></div>
		<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

			<!--[html-partial:include:{"file":"partials/_header/base.html"}]/-->
<!--			<?php include("partials/_header/base.php");?>-->
			<div data-th-replace="partials/_header/base"></div>
			<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

				<!--[html-partial:include:{"file":"partials/_subheader/subheader-v1.html"}]/-->
<!--				<?php include("partials/_subheader/subheader-v1.php");?>-->
				<div data-th-replace="partials/_subheader/subheader-v1"></div>

				<!--[html-partial:include:{"file":"partials/_content/base.html"}]/-->
<!--				<?php include("partials/_content/base.php");?>-->
				<div data-th-replace="partials/_content/base"></div>
			</div>

			<!--[html-partial:include:{"file":"partials/_footer/base.html"}]/-->
<!--			<?php include("partials/_footer/base.php");?>-->
			<div data-th-replace="partials/_footer/base"></div>
		</div>
	</div>
</div>

<!-- end:: Page -->

<!--[html-partial:include:{"file":"partials/_quick-panel.html"}]/-->
<!--<?php include("partials/_quick-panel.php");?>-->
	<div data-th-replace="partials/_quick-panel"></div>

<!--[html-partial:include:{"file":"partials/_scrolltop.html"}]/-->
<!--<?php include("partials/_scrolltop.php");?>-->
	<div data-th-replace="partials/_scrolltop"></div>

<!--[html-partial:include:{"file":"partials/_toolbar.html"}]/-->
<!--<?php include("partials/_toolbar.php");?>-->
	<div data-th-replace="partials/_toolbar"></div>

<!--[html-partial:include:{"file":"partials/_demo-panel.html"}]/-->
<!--<?php include("partials/_demo-panel.php");?>-->
	<div data-th-replace="partials/_demo-panel"></div>

<!--[html-partial:include:{"file":"partials/_chat.html"}]/-->
<!--<?php include("partials/_chat.php");?>-->
	<div data-th-replace="partials/_chat"></div>
</div>